
.picturefill img,
.typography img {
	max-width: 100%;
	height: auto;
}

.typography iframe,
.constrained iframe {
	max-width: 100%;
	height: auto;
}
.typography iframe[src^="http://www.youtube.com/embed/"],
.constrained iframe[src^="http://www.youtube.com/embed/"],
.typography iframe[src^="https://www.youtube.com/embed/"],
.constrained iframe[src^="https://www.youtube.com/embed/"],
.typography iframe[src^="//www.youtube.com/embed/"],
.constrained iframe[src^="//www.youtube.com/embed/"] {
	min-height: 315px;
}
.typography iframe[src^="http://player.vimeo.com/video/"],
.constrained iframe[src^="http://player.vimeo.com/video/"] {
	min-height: 280px;
}

/* Hide the controls for a carousel if it only has one item.
 */
.carousel.items-1 .carousel-control,
.carousel.items-1 .carousel-indicators {
	display: none;
}

form .optionset ul li,
form .checkboxset ul li {
	list-style: none;
}
form .optionset input[type="radio"],
form .checkboxset input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}
form input[type="radio"],
form input[type="checkbox"] {
	display: inline-block;
	width: auto;
	height: auto;
}
form .alert {
	display: block;
	margin: 5px 0;
}

.pageaggregate-searchform {
	margin-top: 15px;
	margin-bottom: 15px;
}
